h1 {
    font-size: 1.5rem;
}
.display, .counter {
    font-size: 1.2rem;
    text-align: center;
}
.images, .btn {
        gap: 1.5rem;
    }

    .image {
        width: 20vw;
        height: 20vw;
        margin:2vw;
    }

    .btnRPS {
        width: 20vw;
        height: 20vw;
        font-size: 4vw;
    }

